@model Employee

<tr id="@Model.Id">
    <td>@Model.Name</td>
    <td>@Html.DisplayFor(m=>m.Email)</td>
    <td>@Html.DisplayFor(m=>m.Salary)</td>
    <td>@Model.Address</td>
    <td>
    @Html.Partial("_ControlsPartial", Model.Id)
    </td>
</tr>