@model EmployeeViewModel

<h2>@ViewBag.Action Employee</h2>
@using (Html.BeginForm()) 
{
    if (ViewBag.Action == "Edit")
    {
        @Html.HiddenFor(m => m.Employee.Id)
    }
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                @Html.LabelFor(m => m.Employee.Name)
                @Html.EditorFor(m => m.Employee.Name, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(m => m.Employee.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Employee.Email)
                @Html.EditorFor(m => m.Employee.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Employee.Email, "", new { @class = "text-danger" })
            </div>
           <div class="form-group">
               @Html.LabelFor(m => m.Employee.Fk_DepartmentId)
               <select name="Fk_DepartmentId" id="Fk_DepartmentId" class="form-control">
                   <option value="">Select Department</option>
                   @foreach (Department item in Model.Departments)
                   {
                    <option value="@item.Id">@item.Name</option>
                   }
               </select>
               @Html.ValidationMessageFor(m => m.Employee.Fk_DepartmentId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
              @Html.LabelFor(m => m.Employee.Salary)
              @Html.EditorFor(m => m.Employee.Salary, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(m => m.Employee.Salary, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Employee.Address)
                @Html.EditorFor(m => m.Employee.Address, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(m => m.Employee.Address, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="@ViewBag.Action "class="btn btn-primary" />
        </form>
    </div>
</div>
}
